<section class="contacts section">
  <div class="container">
    <h2 class="">Fresh Harvest Box has got you covered</h2>
    <ul class="contacts-list list">
      <li class="contacts-item">
        <img 
        src="../img/contacts/melon_desc@1x.jpg" 
        alt="melon"
        width=""
        loading="lazy"
        ></li>
      <li class="contacts-item">
        <img 
        src="../img/contacts/blueberry_desc@1x.jpg" 
        alt="blueberry"
        width=""
        loading="lazy"
        ></li>
    </ul>


    <div class="contacts-subscribe-desc">
      <p class="contacts-desc-low">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
    
      <form 
      class="contacts-subscribe"
      type = "email"
      name="contacts-email"
      id="contacts_email"
      pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      placeholder="Enter email..."
      >
      <button class="contacts-btn" type="submit">Send</button>
      </form>
    </div>
    
  </div>
</section>
