<section class="section section-contacts" id="Contacts">
  <div class="container container-contacts">
    <h2 class="section-title contacts-title">Fresh Harvest Box has got you covered</h2>
    <div class="contacts-img">
    <ul class="contacts-list list">
      <li class="contacts-item">
        <picture>
          <!-- Destop -->
          <source
          media="(min-width: 1280px)"
          srcset="./img/contacts/melon_desc@1x.jpg 1x, ./img/contacts/melon_desc@2x.jpg 2x," 
          type="image/jpg">
          <!-- Tablet -->
          <source
          media="(min-width: 768px)"
          srcset="./img/contacts/melon_tab@1x.jpg 1x, ./img/contacts/melon_tab@2x.jpg 2x," 
          type="image/jpg">
          <!-- Mobile -->
          <source
          media="(max-width: 767px)"
          srcset="./img/contacts/melon_mob@1x.jpg 1x, ./img/contacts/melon_mob@2x.jpg 2x," 
          type="image/jpg">

          <img
          class="contacts-item-img contacts-item-1"
          src="./img/contacts/melon_desc@1x.jpg" 
          alt="melon"
          loading="lazy"
          >
        </picture>
      </li>

      <li class="contacts-item hidden-contacts-item">
          <picture>
          <!-- Destop -->
          <source
          media="(min-width: 1280px)"
          srcset="./img/contacts/blueberry_desc@1x.jpg 1x, ./img/contacts/blueberry_desc@2x.jpg 2x,"
          type="image/jpg">
          <!-- Tablet -->
          <source
          media="(min-width: 768px)"
          srcset="./img/contacts/blueberry_tab@1x.jpg 1x, ./img/contacts/blueberry_tab@2x.jpg 2x," 
          type="image/jpg">

          <img
          class="contacts-item-img contacts-item-2"
          src="./img/contacts/blueberry_desc@1x.jpg" 
          alt="blueberry"
          loading="lazy"
          >
        </picture>
      </li>
    </div>

    <div class="contacts-subscribe-desc">
      <p class="section-title-text contacts-desc-text">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
  
      <form class="contacts-subscribe" name="subscribe" autocomplete="on">
        <label class="visually-hidden" for="contacts-user-email">Email</label>
          <div class="contacts-subscribe-email">
            <input
            class="contacts-email"
            type="email"
            name="email"
            id="contacts-user-email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            placeholder="Enter email..."
            minlength="2"
            required
            />
            <button type="submit" class="contacts-btn js-open-modal" data-modal="2">Send</button>
          </div>
      </form>
    </div>

  </div>
</section>