<section class="fruits-section section" id="Fruits">
  <div class="container">

    <div class="section-title-wrapper">

      <h2 class="section-title">ORGANIC FRUITS</h2>

      <p class="section-title-text">Our organic fruits are hand-picked from local farms and delivered straight to your
        doorstep, ensuring that you get the
        freshest and most nutritious produce possible. We offer a wide selection of organic fruits grown without the use
        of
        harmful pesticides or chemicals.</p>

    </div>

    <ul class="orgfruits-list list">

      <li class="orgfruits-item-wrapper">

        <div class="orgfruits-item strawberry">

          <div class="orgfruits-item-discrb">
            <h3 class="subsection-title">Strawberry</h3>
            <p class="subsection-title-text">Plant</p>
          </div>

          <picture>

            <source srcset="
          ./img/fruits/strawberry@1x.webp 1x,
          ./img/fruits/strawberry@2x.webp 2x" type="image/webp">

            <source srcset="
          ./img/fruits/strawberry@1x.png 1x,
          ./img/fruits/strawberry@2x.png 2x" type="image/png">

            <img class="img-orgfruits" src="./img/fruits/strawberry@1x.png" alt="strawberry" width="295" loading="lazy">

          </picture>

          <button class="price-button js-open-modal" type="button" data-modal="1">100 UAH / kg</button>

        </div>

      </li>

      <li class="orgfruits-item-wrapper">

        <div class="orgfruits-item banana">

          <div class="orgfruits-item-discrb">
            <h3 class="subsection-title">Banana</h3>
            <p class="subsection-title-text">Plant</p>
          </div>

          <picture>

            <source srcset="
          ./img/fruits/banana@1x.webp 1x,
          ./img/fruits/banana@2x.webp 2x" type="image/webp">

            <source srcset="
          ./img/fruits/banana@1x.png 1x,
          ./img/fruits/banana@2x.png 2x" type="image/png">

            <img class="img-orgfruits" src="./img/fruits/banana@1x.png" alt="banana" width="295" loading="lazy">

          </picture>

          <button class="price-button js-open-modal" type="button" data-modal="1">80 UAH / kg</button>

        </div>

      </li>

      <li class="orgfruits-item-wrapper">

        <div class="orgfruits-item watermelon">

          <div class="orgfruits-item-discrb">
            <h3 class="subsection-title">Watermelon</h3>
            <p class="subsection-title-text">Plant</p>
          </div>

          <picture>

            <source srcset="
          ./img/fruits/watermelon@1x.webp 1x,
          ./img/fruits/watermelon@2x.webp 2x" type="image/webp">

            <source srcset="
          ./img/fruits/watermelon@1x.png 1x,
          ./img/fruits/watermelon@2x.png 2x" type="image/png">

            <img class="img-orgfruits" src="./img/fruits/watermelon@1x.png" alt="watermelon" width="295" loading="lazy">

          </picture>

          <button class="price-button js-open-modal" type="button" data-modal="1">40 UAH / kg</button>

        </div>

      </li>

      <li class="orgfruits-item-wrapper">

        <div class="orgfruits-item lime">

          <div class="orgfruits-item-discrb">
            <h3 class="subsection-title">Lime</h3>
            <p class="subsection-title-text">Plant</p>
          </div>

          <picture>

            <source srcset="
          ./img/fruits/lime@1x.webp 1x,
          ./img/fruits/lime@2x.webp 2x" type="image/webp">

            <source srcset="
          ./img/fruits/lime@1x.png 1x,
          ./img/fruits/lime@2x.png 2x" type="image/png">

            <img class="img-orgfruits" src="./img/fruits/lime@1x.png" alt="lime" width="295" loading="lazy">

          </picture>

          <button class="price-button js-open-modal" type="button" data-modal="1">60 UAH / kg</button>

        </div>

      </li>

      <li class="orgfruits-item-wrapper">

        <div class="orgfruits-item apple">

          <div class="orgfruits-item-discrb">
            <h3 class="subsection-title">Apple</h3>
            <p class="subsection-title-text">Plant</p>
          </div>

          <picture>

            <source srcset="
          ./img/fruits/apple@1x.webp 1x,
          ./img/fruits/apple@2x.webp 2x" type="image/webp">

            <source srcset="
          ./img/fruits/apple@1x.png 1x,
          ./img/fruits/apple@2x.png 2x" type="image/png">

            <img class="img-orgfruits" src="./img/fruits/apple@1x.png" alt="apple" width="295" loading="lazy">

          </picture>

          <button class="price-button js-open-modal" type="button" data-modal="1">50 UAH / kg</button>

        </div>

      </li>

      <li class="orgfruits-item-wrapper">

        <div class="orgfruits-item peach">

          <div class="orgfruits-item-discrb">
            <h3 class="subsection-title">Peach</h3>
            <p class="subsection-title-text">Plant</p>
          </div>

          <picture>

            <source srcset="
          ./img/fruits/peach@1x.webp 1x,
          ./img/fruits/peach@2x.webp 2x" type="image/webp">

            <source srcset="
          ./img/fruits/peach@1x.png 1x,
          ./img/fruits/peach@2x.png 2x" type="image/png">

            <img class="img-orgfruits" src="./img/fruits/peach@1x.png" alt="peach" width="295" loading="lazy">

          </picture>

          <button class="price-button js-open-modal" type="button" data-modal="1">80 UAH / kg</button>

        </div>

      </li>

      <li class="orgfruits-item-wrapper plums">

        <div class="orgfruits-item plums">

          <div class="orgfruits-item-discrb">
            <h3 class="subsection-title">Plums</h3>
            <p class="subsection-title-text">Plant</p>
          </div>

          <picture>

            <source srcset="
          ./img/fruits/plums@1x.webp 1x,
          ./img/fruits/plums@2x.webp 2x" type="image/webp">

            <source srcset="
          ./img/fruits/plums@1x.png 1x,
          ./img/fruits/plums@2x.png 2x" type="image/png">

            <img class="img-orgfruits" src="./img/fruits/plums@1x.png" alt="plums" width="295" loading="lazy">

          </picture>

          <button class="price-button js-open-modal" type="button" data-modal="1">40 UAH / kg</button>

        </div>

      </li>

      <li class="orgfruits-item-wrapper orange">

        <div class="orgfruits-item orange">

          <div class="orgfruits-item-discrb">
            <h3 class="subsection-title">Orange</h3>
            <p class="subsection-title-text">Plant</p>
          </div>

          <picture>

            <source srcset="
          ./img/fruits/orange@1x.webp 1x,
          ./img/fruits/orange@2x.webp 2x" type="image/webp">

            <source srcset="
          ./img/fruits/orange@1x.png 1x,
          ./img/fruits/orange@2x.png 2x" type="image/png">

            <img class="img-orgfruits" src="./img/fruits/orange@1x.png" alt="orange" width="295" loading="lazy">

          </picture>

          <button class="price-button js-open-modal" type="button" data-modal="1">60 UAH / kg</button>

        </div>

      </li>



      <li class="orgfruits-item-wrapper kiwi">

        <div class="orgfruits-item kiwi">

          <div class="orgfruits-item-discrb">
            <h3 class="subsection-title">Kiwi</h3>
            <p class="subsection-title-text">Plant</p>
          </div>

          <picture>

            <source srcset="
          ./img/fruits/kiwi@1x.webp 1x,
          ./img/fruits/kiwi@2x.webp 2x" type="image/webp">

            <source srcset="
          ./img/fruits/kiwi@1x.png 1x,
          ./img/fruits/kiwi@2x.png 2x" type="image/png">

            <img class="img-orgfruits" src="./img/fruits/kiwi@1x.png" alt="kiwi" width="295" loading="lazy">

          </picture>

          <button class="price-button js-open-modal" type="button" data-modal="1">90 UAH / kg</button>

        </div>

      </li>

    </ul>

    <button class="order-button js-open-modal" type="button" data-modal="1">

      <svg class="order-icon" width="14" height="14">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
      <span class="order-button-text">ORDER</span>

    </button>

  </div>
</section>