<section class="hero">
  <div class="container">
    <h1 class="title-hero">
      fresh harvest box is your one-stop place for a delicious fruit basket
    </h1>
    <p class="text-hero">
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </p>
    <button type="button" class="hero-btn">shopnow</button>
    <ul>
      <li>
        <h2 class="visual-hidden">hero</h2>
        <h3>Fruit</h3>
        <img
          src="/img/6-65920_tropical-watermelon-png-clipart-watermelon-png-removebg-preview.png"
          width="200"
          height="172"
          srcset="../img/tropical-watermelonRetina.png @2x"
          width="200"
          height="172"
          alt="watermelon"
        />
        <p>
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </li>
      <li>
        <h3>Fruit</h3>
        <img
          src="/img/kisspng-strawberry-basket-food-basket-5abcb2e34c9249.png"
          width="162"
          height="185"
          srcset="../img/kisspng-strawberryRetina.png @2x"
          width="162"
          height="185"
          alt="strawberry in basket"
        />
        <p>
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </li>
    </ul>
    <div class="hero-item">
      <ul>
        <li><h3>#organic</h3></li>
        <li><h3>#products</h3></li>
        <li><h3>#basket</h3></li>
        <li><h3>#fruits</h3></li>
      </ul>
    </div>
  </div>
</section>
