<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fresh Harvest Box</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/basic.css" />
    <link rel="stylesheet" href="../css/hero.css" />
  </head>
  <section class="hero">
    <div class="container">
      <h1 class="title-hero">
        FRESH HARVEST BOX IS YOUR ONE-STOP PLACE FOR A DELICIOUS FRUIT BASKET
      </h1>
      <p class="text-hero">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
      <button type="button" class="hero-btn">SHOPNOW</button>
      <ul>
        <li>
          <p>Fruit</p>
          <img
            src="../img/6-65920_tropical-watermelon-png-clipart-watermelon-png-removebg-preview.png"
            alt="watermelon"
            width="200"
            height="172"
          />
          <p>
            Refreshing and juicy, watermelon is the perfect summer treat and a
            great source of hydration
          </p>
        </li>
        <li>
          <p>Fruit</p>
          <img
            src="../img/kisspng-strawberry-basket-food-basket-5abcb2e34c9249.png"
            alt="kisspng-strawberry"
            width="162"
            height="185"
          />
          <p>
            Sweet and juicy, strawberries are packed with vitamin C and
            antioxidants, making them a delicious and healthy snack
          </p>
        </li>
      </ul>
      <div class="hero-item">
        <ul>
          <li>#ORGANIC</li>
          <li>#PRODUCTS</li>
          <li>#BASKET</li>
          <li>#FRUITS</li>
        </ul>
      </div>
    </div>
  </section>
</html>
