<section class="section hero">
  <div class="container">
    <h1 class="title-hero">
      fresh harvest box is your one-stop place for a delicious fruit basket
    </h1>
    <p class="text-hero">
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </p>
    <div class="button-shopnow">
      <a href="#Fruits">shop now</a>
    </div>
    <ul>
      <li class="hero-card-watermeloun">
        <h2 class="visual-hidden">hero</h2>
        <h3 class="title-card">Fruit</h3>
        <img
          src="./img/tropical-watermeloun.png"
          srcset="
            ./img/tropical-watermeloun.png   1x,
            ./img/tropical-watermelon@2x.png 2x
          "
          width="200"
          height="172"
          alt="watermelon"
        />
        <p class="text-hero-card">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </li>
      <li class="hero-card-strawberry">
        <h3 class="title-card">Fruit</h3>
        <img
          src="./img/kisspng-strawberry.png"
          srcset="
            ./img/kisspng-strawberry.png    1x,
            ./img/kisspng-strawberry@2x.png 2x
          "
          width="162"
          height="185"
          alt="strawberry in basket"
        />
        <p class="text-hero-card">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </li>
    </ul>
    <div class="hero-item">
      <ul>
        <li><h3>#organic</h3></li>
        <li><h3>#products</h3></li>
        <li><h3>#basket</h3></li>
        <li><h3>#fruits</h3></li>
      </ul>
    </div>
  </div>
</section>
