<section class="section how-it-works" id="How-it-works">
  <div class="container">
    <h2 class="section-title">
      To order your fruit basket, simply follow these easy steps
    </h2>
    <p class="section-title-text">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
    <ul class="steps-list">
      <li class="steps-item">
        <div class="steps-wrapper">
          <div class="steps-title first">
            <h3 class="title-wrapper">First Step</h3>
          </div>
          <p class="section-title-text steps">
            Just choose the fruit you want to order by clicking on the
            checkboxes next to it.
          </p>
        </div>
      </li>
      <li class="steps-item">
        <div class="steps-wrapper">
          <div class="steps-title second">
            <h3 class="title-wrapper">Second Step</h3>
          </div>
          <p class="section-title-text steps">
            Click on the basket and fill out the form.
          </p>
        </div>
      </li>
      <li class="steps-item">
        <div class="steps-wrapper">
          <div class="steps-title third">
            <h3 class="title-wrapper">Third Step</h3>
          </div>
          <p class="section-title-text steps">
            Sit back and relax! Your fresh fruit basket will be delivered.
          </p>
        </div>
      </li>
    </ul>

    <img
      class="wrap-gif"
      src="./img/how-it-works/image-how-it-works.gif"
      alt="fructs"
      loading="lazy"
    />
  </div>
</section>
