<div class="thank-you-modal">
  <div class="container thank-you-container">
    <!-- close btn -->
    <button type="button" class="close-ty">
      <svg class="close-svg">
        <use href="../img/icons.svg#"></use>
      </svg>
    </button>
    <!-- image -->
    <img src="../img/" alt="rassberry" width="" />
    <!-- text -->
    <h1 class="heading-ty">THANK YOU</h1>
    <p class="paragraph-txt-ty">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
