<div class="thank-you-modal modal" id="ty" data-modal="2">
  <div class="container thank-you-container">
    <!-- close btn -->
    <button type="button" class="close-ty js-modal-close">
      <svg class="close-svg" width="24" height="24">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <!-- image -->
    <picture class="picture-ty">
      <!-- desktop -->
      <source
        media="min-width: 1280px"
        srcset="
          ./img/ty-image/raspberry-desktop-ty@1x.png 1x,
          ./img/ty-image/raspberry-desktop-ty@2x.png 2x
        "
        type="image/png"
      />
      <!-- tablet -->
      <source
        media="min-width: 768px"
        srcset="
          ./img/ty-image/raspberry-tablet-ty@1x.png 1x,
          ./img/ty-image/raspberry-tablet-ty@2x.png 2x
        "
        type="image/png"
      />
      <!-- mob -->
      <source
        media="max-width: 767px"
        srcset="
          ./img/ty-image/raspberry-mob-ty@1x.png 1x,
          ./img/ty-image/raspberry-mob-ty@2x.png 2x
        "
        type="image/png"
      />
      <img
        class="img-ty"
        src="./img/ty-image/raspberry-tablet-ty@1x.png"
        alt="raspberry"
      />
    </picture>
    <!-- text -->
    <h3 class="heading-ty section-title">THANK YOU</h3>
    <p class="paragraph-txt-ty section-title-text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
