/* Mobile */
/* .section-contacts {
    padding-top: 133px;
} */
/* Tablet */
/* @media only screen and (min-width: 768px) {
    .section-contacts {
        padding-top: 223px;
    }
} */
/* Desktop */
/* @media only screen and (min-width: 1280px) {
    .section-contacts {
        padding-top: 239px;
    }
} */

.container-contacts {
  position: relative;
}

/* Mobile */
.contacts-title {
  position: absolute;

  max-width: 335px;
  height: 96px;
  top: -53px;

  font-family: var(--main-font-family);
  font-size: 32px;
  line-height: 1;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .contacts-title {
    max-width: 648px;
    height: 108px;
    top: -79px;
    left: 60px;
    font-size: 54px;
  }
}
/* Desktop */
@media only screen and (min-width: 1280px) {
  .contacts-title {
    font-size: 64px;
    max-width: 740px;
    height: 128px;
    top: -89px;
    left: 268px;
  }
}

.contacts-img {
  margin-bottom: 80px;
  max-width: 100%;
  height: auto;
}

.contacts-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .contacts-list {
    gap: 16px;
  }
}
/* Desktop */
@media only screen and (min-width: 1280px) {
  .contacts-list {
    gap: 24px;
  }
}

.contacts-item-img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

/* For Mob sizes img > 375px */
.contacts-item-1 {
  max-width: 335px;
  height: 476px;
}
/* For Tablet sizes img */
@media only screen and (min-width: 768px) {
  .contacts-item-1 {
    max-width: 344px;
    height: 480px;
  }
  .contacts-item-2 {
    max-width: 344px;
    height: 480px;
    width: 100%;
  }
}
/* For Desktop sizes img */
@media only screen and (min-width: 1280px) {
  .contacts-item-1 {
    max-width: 792px;
    height: 502px;
  }
  .contacts-item-2 {
    max-width: 400px;
    height: 502px;
  }
}
/* Hidden second img < 768 px */
@media only screen and (max-width: 767px) {
  .hidden-contacts-item {
    display: none;
  }
}
/* For Mob sizes img < 374px*/
@media only screen and (max-width: 374px) {
  .contacts-item-1 {
    width: 100%;
    height: auto;
  }
}

/* For Tablet & Desktop */
@media only screen and (min-width: 768px) {
  .contacts-subscribe-desc {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;

    padding: 0px;
    max-width: 492px;
  }
}

/* Hidden section description < 768 px */
@media only screen and (max-width: 767px) {
  .contacts-subscribe-desc {
    display: none;
  }
}

.contacts-desc-text {
  margin-bottom: 80px;
  font-size: 14px;
  padding: 0;
}

.contacts-subscribe-email {
  position: relative;
}

.contacts-email {
  width: 292px;
  height: 48px;
  padding: 15px 105px 15px 15px;

  border: 1px solid;
  border-radius: 100px;
  background-color: transparent;
  border-color: var(--main-color);
  opacity: 0.3;
  outline: none;
}

.contacts-email:not(:placeholder-shown):required:invalid {
  outline: rgba(255, 0, 0, 1) solid 1px;
  outline-offset: -1px;
  opacity: 1;

  color: var(--main-color);
  border: none;
}
.contacts-email:not(:placeholder-shown):required:valid {
  outline: rgba(157, 193, 98, 1) solid 1px;
  outline-offset: -1px;
  opacity: 1;

  color: var(--main-color);
  border: none;
}
.contacts-email::placeholder {
  color: var(--main-color);
  outline: none;
}

.contacts-btn {
  position: absolute;
  width: 102px;
  height: 48px;

  padding: 15px 35px;
  border-radius: 100px;
  top: 0;

  left: 100%;
  transform: translateX(-100%);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  cursor: pointer;

  border: transparent;
  background-color: var(--first-btnlink-color);
  color: var(--main-color);

  transition: opacity var(--transition), visibility var(--transition);
}

.contacts-btn:hover,
.contacts-btn:focus {
  color: var(--first-btnlink-color);
  background-color: var(--second-btnlink-color);
}
