/* Tablet */
@media only screen and (min-width: 768px) {
  .fruits-section .section-title-text {
    margin: 0 auto;
    width: 547px;
  }
}

.section-title-wrapper {
  margin-bottom: 44px;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .section-title-wrapper {
    max-width: 624px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Tablet styles & > */

.orgfruits-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 14px;

  margin-bottom: 44px;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .orgfruits-list {
    row-gap: 16px;
    column-gap: 16px;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1280px) {
  .orgfruits-list {
    row-gap: 24px;
    column-gap: 24px;
  }
}

.img-orgfruits {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.orgfruits-item-wrapper {
  max-width: 335px;
  height: 465px;
  width: 100%;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .orgfruits-item-wrapper {
    max-width: 344px;
    height: 465px;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1280px) {
  .orgfruits-item-wrapper {
    max-width: 389px;
  }
}

.orgfruits-item {
  position: relative;

  height: 100%;

  padding-top: 64px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;

  border-radius: 20px;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .orgfruits-item {
    padding-right: 25px;
    padding-left: 24px;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1280px) {
  .orgfruits-item {
    padding-right: 24px;
  }
}

.orgfruits-item.strawberry {
  background-color: #f8766b;
}

.orgfruits-item.banana {
  background-color: #edd251;
}

.orgfruits-item.watermelon {
  background-color: #9dc262;
}

.orgfruits-item.lime {
  background-color: #bfd663;
}

.orgfruits-item.apple {
  background-color: #e93f29;
}

.orgfruits-item.peach {
  background-color: #db4f4b;
}

.orgfruits-item.plums {
  background-color: #9b5366;
}

.orgfruits-item.orange {
  background-color: #f47f4c;
}

.orgfruits-item.kiwi {
  background-color: #98b37e;
}

.orgfruits-item-discrb {
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 4px;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .orgfruits-item-discrb {
    padding-left: 1px;
    padding-right: 1px;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1280px) {
  .orgfruits-item-discrb {
    padding: 0;
  }
}

.subsection-title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.04em;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .subsection-title {
    font-size: 32px;
    line-height: 1.19;
  }
}

.subsection-title-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .subsection-title-text {
    font-size: 18px;
    line-height: 1.33;
  }
}

.price-button {
  position: absolute;
  left: 24px;
  bottom: 24px;

  width: 126px;
  height: 42px;

  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;

  border-radius: 200px;
  border: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;

  color: var(--main-background-color);
  background-color: var(--main-color);

  transition: color var(--transition), background-color var(--transition);
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .price-button {
    width: 136px;
    height: 48px;

    padding-right: 17.5px;
    padding-left: 17.5px;

    font-size: 18px;
    line-height: 1.33;
  }
}

.price-button:hover,
.price-button:focus {
  color: var(--main-color);
  background-color: var(--main-background-color);
}

.order-button {
  display: flex;

  flex-direction: row;
  justify-content: center;

  padding: 0;
  gap: 4px;

  align-items: center;

  margin-left: auto;
  margin-right: auto;

  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;

  fill: var(--main-color);
  color: var(--main-color);
  background-color: #9dc262;
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition: color var(--transition), background-color var(--transition),
    fill var(--transition);
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .order-button {
    width: 114px;
    height: 114px;

    font-size: 18px;
    line-height: 1.33;
  }
}

.order-icon {
  margin-top: 14px;
  flex-shrink: 0;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .order-icon {
    margin-top: 23.08px;
  }

  .contacts-img {
    margin-bottom: 80px;
  }
}

.order-button-text {
  transform: rotate(-14deg);
}

.order-button:hover,
.order-button:focus {
  fill: #9dc262;
  color: #9dc262;
  background-color: var(--main-color);
}

.orgfruits-item-wrapper.kiwi,
.orgfruits-item-wrapper.orange,
.orgfruits-item-wrapper.plums {
  display: none;
}

/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .orgfruits-item-wrapper.orange,
  .orgfruits-item-wrapper.plums {
    display: list-item;
  }
}

/* Desktop styles & > */

@media only screen and (min-width: 1280px) {
  .orgfruits-item-wrapper.kiwi {
    display: list-item;
  }
}
