/* all */

.thank-you-modal {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
        visibility: hidden;
    
        width: 100%;
        overflow: hidden;
        transition: opacity var(--transition), visibility var(--transition), transform var(--transition);
}

.thank-you-container{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #E03F5E;
    color: var(--main-color);
    padding: 68px 20px 80px 20px;
    border-radius: 20px;

}
   .close-ty {
    box-sizing: border-box;
    position: absolute;
    background-color: transparent;
    border: none;
    right: 20px;
    top: 20px;
    padding: 0;
    line-height: 0;
   }
    .close-svg {
        stroke: var(--main-color);
        margin: 0;
        width: 100%;
        height: 100%;
    }
.img-ty {
    width: 100%;
}

.modal{

}
/* mobile */
/* small */
@media screen and (max-width: 374px) {
    .thank-you-container {
        width: 100%;
    } 
   
         .close-svg {
             width: 24px;
             height: 24px;
            }


}
/* normal */
@media screen and (min-width: 375px){
    .thank-you-container {
        width: 335px;
        padding: 40px 20px;
    }
 
        .close-svg {
            width: 24px;
            height: 24px;
   }
        .picture-ty {
            width: 207px;
            margin-bottom: 28px;
        }
      
        .paragraph-txt-ty{
            display: block;
            margin: 0;
            max-width: 295px;        
        }
}
/* tablet */
@media screen and (min-width: 768px){
    .thank-you-container {
        padding: 68px 104px 80px 104px;
        max-width: 600px;
            width: 100%;
    }
         
         .close-svg{
            width: 28px;
            height: 28px;
         }
         
        .picture-ty {
            width: 278px;
            margin-bottom: 28px;
        }
     .paragraph-txt-ty{
        max-width: 391px;
        width: 100%;
     }

}










.paragraph-txt-ty {}