/* all */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    /* opacity: 0;
    visibility: hidden; */
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity var(--transition), visibility var(--transition);
}
.thank-you-modal {
    position: absolute;
        top: 50%;
        left: 50%;
        height: 903px;
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
        visibility: hidden;
    
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        transition: opacity var(--transition), visibility var(--transition), transform var(--transition);
}
.backdrop .active {
    opacity: 1;
    visibility: visible;
}

.your-order-modal .active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.thank-you-container{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 600px;
    width: 100%;

    background-color: var(--main-background-color);
    color: var(--main-color);
    padding: 68px 20px 80px 20px;

}
   .close-ty {
    position: absolute;
    background-color: transparent;
    border: none;
    align-items: center;
    align-content: center;
    right: 20px;
    top: 20px;

    line-height: 0;
   }
    .close-svg {
        width: 100%;
        height: 100%;
        stroke: var(--main-color);

    }
.img-ty {
    width: 100%;
}

.modal{

}
/* mobile */
@media screen and (max-width: 676px){
    .thank-you-container {
       
        max-width: 335px;
        width: 100%;

        padding: 40px 20px;
    }

    .close-ty {
        width: 24px;
        height: 24px;
        padding: 6px;

        
    }
        .picture-ty {
            width: 207px;
            margin-bottom: 28px;
        }
        
    }
/* tablet */
@media screen and (min-width: 768px){
    .thank-you-container {
        padding: 68px 104px 80px 104px;
    }
        .picture-ty {
            width: 278px;
            margin-bottom: 28px;
        }
     .heading-ty {
        font-size: 40px;
        line-height: 1.1;
            }

}
/* desktop */
@media screen and (min-width: 1280px){
    
        .picture-ty {
            margin-bottom: 28px;
        }
    
}









.paragraph-txt-ty {}